.model_size {
/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.model_size h2 {
  padding-top: 10rem;
  color: rgb(255, 0, 0);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.rsp_menu {
  display: none;
}
