footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 10rem;
}

.btn {
  border: solid black 1px;
  color: white;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin: 1rem;
}

@media (max-device-width: 540px) {
  footer {
    display: none;
  }
}
